{% extends 'base.html' %}

{% block content %}
<body>
    <div class="tabs">
        <ul class="tabs-list">
            <li class="active"><a href='#tab1'>Cantrips</a></li>
            <li><a href='#tab2'>Level 1</a></li>
            <li><a href='#tab3'>Level 2</a></li>
            <li><a href='#tab4'>Level 3</a></li>
            <li><a href='#tab5'>Level 4</a></li>
            <li><a href='#tab6'>Level 5</a></li>
            <li><a href='#tab7'>Level 6</a></li>
            <li><a href='#tab8'>Level 7</a></li>
            <li><a href='#tab9'>Level 8</a></li>
            <li><a href='#tab10'>Level 9</a></li>
        </ul>
    

    <div id="tab1" class="tab active">
        <h3>Cantrips</h3>
        <table>
          {% for data in spells['0'] %}
          <tr>
            <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a></td>
          </tr>
          {% endfor %}
        </table>
     </div>

     <div id="tab2" class="tab">
       <h3>Level 1</h3>
       <table>
        {% for data in spells['1'] %}
        <tr>
          <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a></td>
        </tr>
        {% endfor %}
      </table>
     </div>

     <div id="tab3" class="tab">
       <h3>Level 2</h3>
       <table>
        {% for data in spells['2'] %}
        <tr>
          <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a></td>
         
        </tr>
        {% endfor %}
      </table>
     </div>

     <div id="tab4" class="tab">
        <h3>Level 3</h3>
        <table>
          
          {% for data in spells['3'] %}
          <tr>
            <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a>/td>
            
          </tr>
          {% endfor %}
        </table>
     </div>

     <div id="tab5" class="tab">
       <h3>Level 4</h3>
       <table>
        
        {% for data in spells['4'] %}
        <tr>
          <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a></td>
        
        </tr>
        {% endfor %}
      </table>
     </div>

     <div id="tab6" class="tab">
       <h3>Level 5</h3>
       <table>
        
        {% for data in spells['5'] %}
        <tr>
          <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a></td>
          
        </tr>
        {% endfor %}
      </table>
     </div>

     <div id="tab7" class="tab">
        <h3>Level 6</h3>
        <table>
          
          {% for data in spells['6'] %}
          <tr>
            <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a></td>
            
          </tr>
          {% endfor %}
        </table>
     </div>

     <div id="tab8" class="tab">
       <h3>Level 7</h3>
       <table>
        
        {% for data in spells['7'] %}
        <tr>
          <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a></td>
          
        </tr>
        {% endfor %}
      </table>
     </div>

     <div id="tab9" class="tab">
       <h3>Level 8</h3>
       <table>
        
        {% for data in spells['8'] %}
        <tr>
          <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a></td>
          
        </tr>
        {% endfor %}
      </table>
     </div>

     <div id="tab10" class="tab">
        <h3>Level 9</h3>
        <table>
          
          {% for data in spells['9'] %}
          <tr>
            <td><a href="{{ url_for('spell_view', spell_name=data['index']) }}">{{ data['name'] }}</a></td>
            
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <p>Powered by the DND 5th Edition API</p>
</body>
{% endblock %}