{% extends 'base.html' %}

{% block content %}
<div class="grid-container" id="spell-viewer">
    <h3 class="grid-item" id="name">{{ spell.name }}</h3>
    <hr>
    <label class="grid-item" for="">School</label>
    <p class="grid-item">{{ spell.school }}</p>
    <hr>

    <label class="grid-item" for="desc">Description</label> 
    <p class="grid-item" id="desc">{{ spell.desc }}</p>
    <hr>
    <label class="grid-item" for="range">Range</label>
    <p class="grid-item" id="range">{{ spell.range }}</p>
    <hr>
    <label class="grid-item" for="components">Components</label>
    <p class="grid-item" id="components">{{ spell.components }}</p>
    <hr>
    <label class="grid-item" for="material">Material</label>
    <p class="grid-item">{{ spell.material }}</p>
    <hr>
    <label class="grid-item" for="">Cast as Ritual?</label>
    <p class="grid-item">{{ spell.ritual }}</p>
    <hr>
    <label for="">Duration</label>
    <p>{{ spell.duration }}</p>
    <hr>
    <label for="">Concentration</label>
    <p>{{ spell.concentration }}</p>
    <hr>
    <label for="">Casting Time</label>
    <p>{{ spell.casting_time }}</p>
</div>
{% endblock %}